 h1{
                color:red;
                background: blue;
            }
            h3{
                color:yellow;
                background: brown;
            }
body{
    color:blanchedalmond;
}
#skills{
    color:aqua;
}