 h1{
                color:darkred;
    
            }
h2{
    color:#EAB543;
    background:#3B3B98;
}
            h3{
                color:yellow;
                background: brown;
            }
body{
    color:green;
    background: white;
}
